extends ../layouts/master

include ../components/breadcrumbs
include ../components/nav
include ../components/form-components
include ../components/select
include ../components/calc-table
include ../components/pdf-template

block content
  -
    var ddata = {
      list: [
        {caption: 'SLT AQUA PP-R однослойные', text: 'SDR 11, SDR 7,4, SDR 6'},
        {caption: 'SLT AQUA PP-R-GF армированные стекловолокном', text: 'SDR 7,4, SDR 6'},
        {caption: 'SLT AQUA PP-R AL армированные алюминием', text: 'SDR 6'},
      ],
      form: [
        {text: 'Расход, л/с', isSelect: false, type: 'rate'},
        {text: 'Температура, °C', isSelect: false, type: 'temp'},
        {
          text: 'Приемлемый диаметр и SDR труб', 
          isSelect: true, 
          placeholder: 'Выберете диаметр', 
        },
        {text: 'Длина трубопровода, м', isSelect: false, type: 'length'},
      ],
      table: [
        ['', 'D20', 'D25', 'D32', 'D40', 'D50', 'D63', 'D75', 'D90', 'D110',],
        ['SDR 11', 'null', 'null', 'null', 'null', 'null', 'null', 'null', 'null', 'null',],
        ['SDR 7,4', 'null', 'null', 'null', 'null', 'null', 'null', 'null', 'null', 'null',],
        ['SDR 6', 'null', 'null', 'null', 'null', 'null', 'null', 'null', 'null', 'null',],
        ['SDR 11', 'null', 'null', 'null', 'null', 'null', 'null', 'null', 'null', 'null',],
        ['SDR 7,4', 'null', 'null', 'null', 'null', 'null', 'null', 'null', 'null', 'null',],
        ['SDR 6', 'null', 'null', 'null', 'null', 'null', 'null', 'null', 'null', 'null',],
      ]
    }
  .calculator-page
    section.section.section--first
      .container 
        +breadcrumbs(page = "Расчет компенсаторов для систем SLT AQUA")
        .section__inner 
          h1
            |#[span.word-span #[span Расчет]] #[span.word-span #[span удельных]] #[span.word-span #[span гидравлических ]] #[br.calculator-page__br] #[span.whitespace ] #[span.word-span #[span потерь]] #[span.word-span #[span трубопроводов]] #[span.word-span #[span СЛТ Аква]]
          .calculator-page__text 
            |С учетом местных сопротивлений по СП 40 102
    section.section
      .container 
        ul.calculator-page__list
          each item in ddata.list
            li.calculator-page__list-item 
              .calculator-page__caption 
                |#{item.caption}
              .calculator-page__list-text 
                |#{item.text}
        form.calculator-page__calculate.form(action="/")
          .calculator-page__calculate-col 
            .calculator-page__calculate-grid
              each item in ddata.form
                .calculator-page__calculate-item
                  .calculator-page__wrapper
                    .calculator-page__caption.calculator-page__caption--big 
                      |#{item.text}
                    .calculator-page__features-inner 
                      if (item.isSelect)
                        +calc-select(placeholder = item.placeholder value='diameter')
                      else
                        +input#input(type = 'number' placeholder = '0' data-calc-input=item.type) 
              .calculator-page__wrapper
                .calculator-page__caption.calculator-page__caption--big 
                  |Процент, учитывающий местные потери
                .calculator-page__features-inner
                  -
                    var options = [
                      {text: '20%', value: '20'},
                      {text: '25%', value: '25'},
                      {text: '30%', value: '30'},
                    ]
                  .select-wrapper 
                    .select
                      select.select__mobile(name='cat-mob' data-select-mobile='') 
                        option(value="" selected disabled data-calc-select='percent' )
                          |Выберете процент
                        each item in options
                          option(value=item.value)
                            |#{item.text} 
                      select.select__select(data-select-placeholder='Выберете процент' style='width: 100%' data-calc-select='percent')
                        option(value='' disabled selected)
                        each item in options
                          option(value=item.value)
                            |#{item.text} 
              .calculator-page__calculate-label
                |* Согласно СП 40-102-2000 «Примечание - Допускается  сумму местных потерь h м.с. принимать равной 20-30% суммы удельных потерь»
            .section__block.calculator-page__layout 
              .calculator-page__block-row
                .calculator-page__block-col
                  .calculator-page__caption.calculator-page__caption--big 
                    |Удельные потери по длине трубопровода без учета местных потерь, м/м
                  .calculator-page__block-title(data-calc-value='specificLosses')
                    |null
                .calculator-page__block-col
                  .calculator-page__caption.calculator-page__caption--big 
                    |Местные потери по длине трубопровода по «Примечанию» СП 40-102-2000, м/м
                  .calculator-page__block-title(data-calc-value='localLosses')
                    |null
              .calculator-page__block-inner
                .calculator-page__block-row
                  .calculator-page__block-col
                    .calculator-page__caption.calculator-page__caption--big 
                      |Потери по длине трубопровода с учетом суммы местных потерь, м/м
                    .calculator-page__block-title(data-calc-value='lengthLosses')
                      |null
                  .calculator-page__block-col
              .calculator-page__block-inner
                .calculator-page__block-row
                  .calculator-page__block-col
                    .calculator-page__button
                      .button-wrapper
                        +calculator-button
          .calculator-page__calculate-col 
            .calculator-page__grid(data-table='')
              .calculator-page__grid-heading 
                .calculator-page__caption.calculator-page__caption--big
                  |Диаметр
              .calculator-page__grid-heading.calculator-page__grid-long
                .calculator-page__gird-wrapper
                  .calculator-page__caption.calculator-page__caption--big
                    |Скорости V, м/с
                  .tooltip.tooltip--absolute
                    .tooltip__icon 
                      +tooltip-svg.tooltip__svg 
                    .tooltip__container 
                      |Рекомендуемые скорости ХВС, ГВС от 0,5 до 1 м/с.
              .calculator-page__grid-heading.calculator-page__grid-long
                .calculator-page__caption.calculator-page__caption--big
                  |Потери i, м/м
                .tooltip.tooltip--absolute
                  .tooltip__icon 
                    +tooltip-svg.tooltip__svg 
                  .tooltip__container 
                    |м/м - метр водного столба на метр трубы
              each col in ddata.table
                .calculator-page_grid-col(data-table-col='')
                  each cell in col
                    .calculator-page__grid-item(data-table-cell='')
                      .calculator-page__grid-title
                        |#{cell}
            .calculator-page__container
              .calculator-page__grid-mobile
                .calculator-page__grid-heading 
                  .calculator-page__grid-caption
                    |Диаметр
                .calculator-page__grid-item.calculator-page__grid-item--small
                  .calculator-page__grid-title
                each item in ['D20', 'D25', 'D32', 'D40', 'D50', 'D63', 'D75', 'D90', 'D110']
                  .calculator-page__grid-item 
                    .calculator-page__grid-title
                      |#{item}
                .calculator-page__grid-heading.calculator-page__grid-long
                  .tooltip.tooltip--absolute
                    .tooltip__icon 
                      +tooltip-svg.tooltip__svg 
                    .tooltip__container 
                      |Рекомендуемые скорости ХВС, ГВС от 0,5 до 1 м/с.
                  .calculator-page__gird-wrapper
                    .calculator-page__grid-caption
                      |Скорости V, м/с
                - for (i = 0; i < 3; i++)
                  .calculator-page__grid-item.calculator-page__grid-item--small
                    .calculator-page__grid-title
                      |SDR 11
                  each item, j in ['73,7174', '47,2966', '28,9305', '18,3154', '11,7074', '7,2892', '5,2033', '3,7066', '2,4342']
                    .calculator-page__grid-item(class=(j === 2 ? "active" : ""))
                      |#{item}
                .calculator-page__grid-heading.calculator-page__grid-long
                  .tooltip.tooltip--absolute
                    .tooltip__icon 
                      +tooltip-svg.tooltip__svg 
                    .tooltip__container 
                      |м/м - метр водного столба на метр трубы
                  .calculator-page__grid-caption
                    |Потери i, #[br] м/м
                - for (i = 0; i < 3; i++)
                  .calculator-page__grid-item.calculator-page__grid-item--small
                    .calculator-page__grid-title
                      |SDR 11
                  each item in ['73,7174', '47,2966', '28,9305', '18,3154', '11,7074', '7,2892', '5,2033', '3,7066', '2,4342']
                    .calculator-page__grid-item 
                      .calculator-page__grid-title
                        |#{item}
    -
      var fields = {
        introduced: [
          {caption: 'Расход, л/с', attr: 'rate'},
          {caption: 'Температура, °C', attr: 'temp'},
          {caption: 'Приемлемый диаметр и SDR труб', attr: 'diameter'},
          {caption: 'Длина трубопровода, м', attr: 'length'},
          {caption: 'Процент, учитывающий местные потери', attr: 'percent'},
        ],
        received: [
          {caption: 'Удельные потери по длине трубопровода без учета местных потерь, м/м', attr: 'specificLosses'},
          {caption: 'Местные потери по длине трубопровода по «Примечанию» СП 40-102-2000, м/м', attr: 'localLosses'},
          {caption: 'Потери по длине трубопровода с учетом суммы местных потерь, м/м', attr: 'lengthLosses'},
        ]
      }
    +pdf-template(data = fields filename = 'Расчет удельных гидравлических потерь')
  +calc-table.hidden