extends ../layouts/master

include ../components/breadcrumbs
include ../components/nav
include ../components/form-components
include ../components/select

block content
  -
    var ddata = {
      list: [
        {caption: 'SLT Aqua PP-R однослойные', text: 'SDR 11, SDR 7,4, SDR 6'},
        {caption: 'SLT Aqua PP-R GF армированные стекловолокном', text: 'SDR 7,4, SDR 6'},
        {caption: 'SLT Aqua PP-R AL армированные алюминием', text: 'SDR 6'},
      ],
      form: [
        {text: 'Расход, л/с', isSelect: false},
        {text: 'Температура, °C', isSelect: false},
        {text: 'Приемлемый диаметр и SDR труб', isSelect: true},
        {text: 'Длина трубопровода, м', isSelect: false},
        {text: 'Процент, учитывающий местные потери', isSelect: true},
      ]
    }
  .calculator-page
    section.section.section--first
      .container 
        +breadcrumbs(page = "Расчет компенсаторов для систем SLT AQUA")
        .section__inner 
          h1
            |#[span.word-span #[span(data-aos='fade-up') Расчет удельных гидравлических]] #[br] #[span.word-span #[span(data-aos='fade-up') потерь трубопроводов СЛТ Аква]]
          .calculator-page__text(data-aos='fade-up') 
            |С учетом местных сопротивлений по СП 40 102
    section.section
      .container 
        ul.calculator-page__list
          each item in ddata.list
            li.calculator-page__list-item(data-aos='fade-up') 
              .calculator-page__caption 
                |#{item.caption}
              .calculator-page__list-text 
                |#{item.text}
        form.calculator-page__calculate.form(action="/")
          .calculator-page__calculate-col
            .calculator-page__calculate-grid
              each item in ddata.form
                .calculator-page__calculate-item(data-aos='fade-up')
                  .calculator-page__caption 
                    |#{item.text}
                  .calculator-page__features-inner 
                    if (item.isSelect)
                      +select(options = ['D63 SDR 7,4', 'D64 SDR 7,4', 'D65 SDR 7,4', 'D66 SDR 7,4',])
                    else
                      +input#input(type = 'number' placeholder = '0') 
              .calculator-page__calculate-label(data-aos='fade-up') 
                |* Согласно СП 40-102-2000 «Примечание - Допускается  сумму местных потерь h м.с. принимать равной 20-30% суммы удельных потерь i»
            .section__block
              .calculator-page__block
                .calculator-page__block-row(data-aos='fade-up')
                  .calculator-page__block-col
                    .calculator-page__caption 
                      |Удельные потери по длине трубопровода без учета местных потерь, м/м
                    .calculator-page__block-title 
                      |1056,5
                  .calculator-page__block-col
                    .calculator-page__caption 
                      |Местные потери по длине трубопровода по «Примечанию» СП 40-102-2000, м/м
                    .calculator-page__block-title 
                      |0,8778
                .calculator-page__block-inner
                  .calculator-page__block-row(data-aos='fade-up')
                    .calculator-page__block-col
                      .calculator-page__caption 
                        |Потери по длине трубопровода с учетом суммы местных потерь, м/м
                      .calculator-page__block-title 
                        |5,2667
                    .calculator-page__block-col
                .calculator-page__block-inner
                  .calculator-page__block-row
                    .calculator-page__block-col
                      .calculator-page__button(data-aos='fade-up')
                        +download-btn.button--wide--mobile
                          |Скачать расчет в PDF
          .calculator-page__calculate-col
            .calculator-page__grid(data-aos='fade-up') 
              .calculator-page__grid-heading 
                .calculator-page__caption
                  |Диаметр
              .calculator-page__grid-heading.calculator-page__grid-long
                .calculator-page__gird-wrapper
                  .calculator-page__caption
                    |Скорости V, м/с
                  .calculator-page__grid-label 
                    |Рекомендуемые скорости ХВС, ГВС от 0,5 до 1 м/с.
              .calculator-page__grid-heading.calculator-page__grid-long
                .calculator-page__caption
                  |Потери i, м/м.
              each item in ['', 'SDR 11', 'SDR 7,4', 'SDR 6', 'SDR 11', 'SDR 7,4', 'SDR 6', ]
                .calculator-page__grid-item 
                  .calculator-page__grid-title
                    |#{item}
              - for (i = 0; i < 9; i++)
                .calculator-page__grid-item 
                  .calculator-page__grid-title
                    |D20
                each item, j in ['73,7174', '96,1133', '118,4716', '6,24482', '12,13625', '20,52237', ]
                  .calculator-page__grid-item(class=(i === 8 && j === 2 ? 'active' : ''))
                    |#{item}
            .calculator-page__container(data-aos='fade-up')
              .calculator-page__grid-mobile
                .calculator-page__grid-heading 
                  .calculator-page__grid-caption
                    |Диаметр
                .calculator-page__grid-item.calculator-page__grid-item--small
                  .calculator-page__grid-title
                each item in ['D20', 'D25', 'D32', 'D40', 'D50', 'D63', 'D75', 'D90', 'D110']
                  .calculator-page__grid-item 
                    .calculator-page__grid-title
                      |#{item}
                .calculator-page__grid-heading.calculator-page__grid-long
                  .calculator-page__gird-wrapper
                    .calculator-page__grid-caption
                      |Скорости V, м/с
                    .calculator-page__grid-label 
                      |Рекомендуемые скорости ХВС, ГВС от 0,5 до 1 м/с.
                - for (i = 0; i < 3; i++)
                  .calculator-page__grid-item.calculator-page__grid-item--small
                    .calculator-page__grid-title
                      |SDR 11
                  each item in ['73,7174', '47,2966', '28,9305', '18,3154', '11,7074', '7,2892', '5,2033', '3,7066', '2,4342']
                    .calculator-page__grid-item 
                      |#{item}
                .calculator-page__grid-heading.calculator-page__grid-long
                  .calculator-page__grid-caption
                    |Потери i, м/м.
                - for (i = 0; i < 3; i++)
                  .calculator-page__grid-item.calculator-page__grid-item--small
                    .calculator-page__grid-title
                      |SDR 11
                  each item in ['73,7174', '47,2966', '28,9305', '18,3154', '11,7074', '7,2892', '5,2033', '3,7066', '2,4342']
                    .calculator-page__grid-item 
                      .calculator-page__grid-title
                        |#{item}