extends ../layouts/master

include ../components/breadcrumbs
include ../components/nav
include ../components/form-components

block content
  .calculator-page
    section.section.section--first
      .container 
        +breadcrumbs(page = "Расчет компенсаторов для систем SLT AQUA")
        .section__inner 
          h1
            |#[span.word-span #[span Расчет компенсаторов]] #[br] #[span.word-span #[span для систем SLT AQUA]]
    section.section
      .container 
        +nav(items = ['Компенсационное колено', 'П-образный компенсатор', 'Петлевой компенсатор ', 'Сильфонный компенсатор',] active = 2)
        .section__block 
          .calculator-page__row 
            .calculator-page__col 
              .calculator-page__picture
                +calculator-3-svg.calculator-page__picture-svg
              .calculator-page__inner 
                ul.calculator-page__description
                  -
                    var list = [
                      {label: 'D#[span.calculator-page__span 1]', text: 'диаметр петлевого компенсатора (мм)'},
                      {label: 'L', text: 'длина участка компенсиции, м'},
                      {label: 'ΔL', text: 'линейное расширение, мм'},
                    ]
                  each item in list
                    li.calculator-page__description-item
                      .calculator-page__description-col
                        .calculator-page__label 
                          |#{item.label}
                      .calculator-page__description-col
                        |-
                      .calculator-page__description-col
                        .calculator-page__caption 
                          |#{item.text}
              .calculator-page__inner
                .calculator-page__icon
                  +calculator-table-svg.calculator-page__svg
                .calculator-page__table
                  .calculator-page__table-row
                    each item in ['D, мм', 'D#[span.calculator-page__table-span 1, мм]', 'В, мм']
                      .calculator-page__table-top 
                        |#{item}
                  - for (i = 0; i < 4; i++)
                    .calculator-page__table-row
                      each item in ['20', '200', '450']
                        .calculator-page__table-cell 
                          |#{item}
            .calculator-page__col 
              form.form(action="/" data-calc='') 
                .calculator-page__features
                  .calculator-page__features-col
                    .calculator-page__wrapper
                      .calculator-page__caption.calculator-page__caption--big
                        |Тип трубы
                      .calculator-page__features-inner 
                        ul.calculator-page__features-list
                          each item in data.radioButtons
                            li.calculator-page__features-item 
                              +radio-button(name = 'type' text = item.text value = item.value data-calc-radio='type' data-calc-ratio=item.ratio)
                  .calculator-page__features-col
                    .calculator-page__caption.calculator-page__caption--big
                      |Внешний диаметр трубы #[span.calculator-page__features-span D], мм
                    .calculator-page__features-inner 
                      -
                        var ddata = [
                          {text: '20', value: 75},
                          {text: '25', value: 65},
                          {text: '32', value: 55},
                        ]
                      .calculator-page__features-row
                        ul.calculator-page__features-buttons 
                          each item in ddata
                            li.calculator-page__features-button 
                              +radio-button(name = 'diameter' text = item.text data-calc-radio='diameter' value=item.value)
                        ul.calculator-page__features-buttons 
                          li.calculator-page__features-button 
                            +radio-button(name = 'diameter' text = '40' data-calc-radio='diameter' value='40')
                  .calculator-page__features-col
                    .calculator-page__wrapper
                      .calculator-page__caption.calculator-page__caption--big
                        |Длина участка компенсиции, м 
                      .calculator-page__features-inner 
                        +input#input(type = 'number' placeholder = '0' data-calc-input='length')
                .section__block
                  .calculator-page__wrapper
                    .calculator-page__features
                      .calculator-page__features-col
                        .calculator-page__caption.calculator-page__caption--big
                          |Температура монтажа, °C
                        .calculator-page__features-inner 
                          +input#input(type = 'number' placeholder = '0' data-calc-input='mounting')
                      .calculator-page__features-col
                        .calculator-page__caption.calculator-page__caption--big
                          |Температура эксплуатации, °C
                        .calculator-page__features-inner 
                          +input#input(type = 'number' placeholder = '0' data-calc-input='exploitation')
                      .calculator-page__features-col.only-desktop
                .section__block.calculator-page__layout 
                  .calculator-page__block-row
                    .calculator-page__block-col.empty(data-calc-parent='')
                      .calculator-page__caption.calculator-page__caption--big
                        |Линейное расширение, мм
                      .calculator-page__block-title 
                        |ΔL=#[span(data-calc-value='expansion') 1056]
                      .calculator-page__block-error 
                        |Null
                    .calculator-page__block-col.empty(data-calc-parent='')
                      .calculator-page__caption.calculator-page__caption--big
                        |Количество компенсаторов на длину #[span.calculator-page__features-span L] , шт
                      .calculator-page__block-title 
                        |К=#[span(data-calc-value='amount') 10]
                      .calculator-page__block-error 
                        |Null
                  .calculator-page__block-inner
                    .calculator-page__block-row
                      .calculator-page__block-col.empty(data-calc-parent='')
                        .calculator-page__caption.calculator-page__caption--big
                          |Компенсирующая способность изделия, мм
                        .calculator-page__block-title 
                          |ΔL#[span.calculator-page__block-span k]=#[span(data-calc-value='compensSkill') 10]
                        .calculator-page__block-error 
                          |Null
                      .calculator-page__block-col
                  .calculator-page__block-inner
                    .calculator-page__block-row
                      .calculator-page__block-col
                        .calculator-page__button
                          .button-wrapper
                            +download-btn.button--wide--mobile
                              |Скачать расчет в PDF