extends ../layouts/master

include ../components/breadcrumbs
include ../components/tech-docs

block content
  -
    var ddata = [
      {
        class: 'red',
        title: 'SLT BLOCKFIRE',
        button: 'button--red',
        text: 'Полипропиленовые трубопроводные системы для пожаротушения',
        items: [
          {index: 'blockfire-1.webp', text: 'Трубы'}, 
          {index: 'blockfire-2.webp', text: 'Фитинги'}, 
          {index: 'blockfire-3.webp', text: 'Фитинги комбинированные'}, 
          {index: 'blockfire-4.webp', text: 'Крепления'}, 
          {index: 'blockfire-5.webp', text: 'Запорная арматура'}, 
        ]
      },
      {
        class: 'green',
        title: 'SLT PE-RT',
        button: 'button--green',
        text: 'Гибкие трубопроводные системы из термостойкого полиэтилена для водоснабжения и отопления',
        items: 
        [
          {index: 'pert-1.webp', text: 'PE-RT I'}, 
          {index: 'pert-2.webp', text: 'PE-RT II'}, 
          {index: 'pert-3.webp', text: 'PE-RT II EVOH'}, 
        ]
      },
    ]
  .catalog-page
    section.section.section--first 
      .container 
        +breadcrumbs(items = ['SLT AQUA', 'фитинги '] page = "Муфта SLT AQUA PP-R Переходная BxB")
        .section__inner
          .catalog-page__top 
            .catalog-page__top-left
              h1
                |#[span.word-span #[span Каталог]]
            .catalog-page__desktop
              .catalog-page__top-buttons 
                .catalog-page__top-item 
                  +download-btn.button--wide--mobile
                    |Скачать каталог в PDF
                .catalog-page__top-item 
                  +link-right.button--wide--mobile
                    |Информационные материалы
    section.section
      .container
        .catalog-page__mobile
          .button-wrapper
            .catalog-page__top-buttons 
              .catalog-page__top-item 
                +download-btn.button--wide--mobile
                  |Скачать каталог в PDF
              .catalog-page__top-item 
                +link-right.button--wide--mobile
                  |Информационные материалы
        .catalog-page__products 
          .catalog-page__products-item.blue
            .catalog-page__products-row 
              .catalog-page__products-col
                h2.catalog-page__products-title 
                  |#[span.word-span #[span SLT]] #[span.word-span #[span AQUA]]
                .catalog-page__products-caption 
                  |Полипропиленовые трубопроводные системы для водоснабжения и отопления
                .catalog-page__desktop
                  .catalog-page__products-btn 
                    +link-right 
                      |Вся продукция
              .catalog-page__products-col
                .catalog-page__benefits
                  .catalog-page__benefits-col 
                    h3.catalog-page__benefits-num 
                      |#[span.word-span #[span 10] #[span.catalog-page__benefits-span лет]]
                    .catalog-page__benefits-text 
                      |Срок службы системы
                  .catalog-page__benefits-col 
                    h3.catalog-page__benefits-num
                      |#[span.word-span #[span 50+] #[span.catalog-page__benefits-span лет]]
                    .catalog-page__benefits-text 
                      |Срок службы системы
                .catalog-page__mobile
                  .catalog-page__products-btn 
                    +link-right 
                      |Вся продукция
            .catalog-page__products-bot
              .catalog-page__products-container 
                a.catalog-page__card(href="#" data-link='' data-aos='fade-up') 
                  .catalog-page__card-container 
                    .catalog-page__card-icon 
                      +btn-arrow-right.catalog-page__card-svg
                    .catalog-page__card-title 
                      |Трубы
                  .catalog-page__card-img 
                    img.catalog-page__card-pic(src="assets/images/catalog-product.webp", alt="")
                each img in [{index: 1, text: 'Фитинги'}, {index: 3, text: 'Фитинги комбинированные'}, {index: 4, text: 'Компенсаторы'}, {index: 5, text: 'Крепления'}, {index: 6, text: 'Запорная арматура'}, ]
                  a.catalog-page__card(href="#" data-link='' data-aos='fade-up') 
                    .catalog-page__card-container 
                      .catalog-page__card-icon 
                        +btn-arrow-right.catalog-page__card-svg
                      .catalog-page__card-title 
                        |#{img.text}
                    .catalog-page__card-img 
                      img.catalog-page__card-pic(src=`assets/images/catalog-card-${img.index}.webp`, alt="")
          each item in ddata
            .catalog-page__products-item(class=item.class)
              .catalog-page__products-row 
                .catalog-page__products-col
                  h2.catalog-page__products-title 
                    |#[span.word-span #[span #{item.title}]]
                  .catalog-page__products-caption 
                    |#{item.text}
                  .catalog-page__desktop
                    .catalog-page__products-btn
                      +link-right(class=item.button)
                        |Вся продукция
                .catalog-page__products-col
                  .catalog-page__benefits
                    .catalog-page__benefits-col 
                      h3.catalog-page__benefits-num 
                        |#[span.word-span #[span 10] #[span.catalog-page__benefits-span лет]]
                      .catalog-page__benefits-text 
                        |Срок службы системы
                    .catalog-page__benefits-col 
                      h3.catalog-page__benefits-num
                        |#[span.word-span #[span 50+] #[span.catalog-page__benefits-span лет]]
                      .catalog-page__benefits-text 
                        |Срок службы системы
                  .catalog-page__mobile
                    .catalog-page__products-btn 
                      +link-right(class=item.button)
                        |Вся продукция
              .catalog-page__products-bot
                .catalog-page__products-container 
                  each img in item.items
                    a.catalog-page__card(href="#" data-link='' data-aos='fade-up') 
                      .catalog-page__card-container 
                        .catalog-page__card-icon 
                          +btn-arrow-right.catalog-page__card-svg
                        .catalog-page__card-title 
                          |#{img.text}
                      .catalog-page__card-img 
                        img.catalog-page__card-pic(src=`assets/images/${img.index}`, alt="")
          .catalog-page__products-item
            .catalog-page__products-row 
              .catalog-page__products-col
                h2.catalog-page__products-title 
                  |#[span.word-span #[span Инструменты]]
                .catalog-page__products-caption 
                  |Для монтажа полимерных трубопроводных систем
                .catalog-page__products-button
                  +link-right.button--black
                    |Вся продукция
              .catalog-page__products-col
                .catalog-page__products-wrapper
                  .catalog-page__products-container 
                    each img in [{index: 'tool-1', text: 'Труборезы'}, {index: 'tool-2', text: 'Сварочные аппараты'}, {index: 'tool-3', text: 'Комплектующие'}]
                      a.catalog-page__card(href="#" data-link='' data-aos='fade-up') 
                        .catalog-page__card-container 
                          .catalog-page__card-icon 
                            +btn-arrow-right.catalog-page__card-svg
                          .catalog-page__card-title 
                            |#{img.text}
                        .catalog-page__card-img 
                          img.catalog-page__card-pic(src=`assets/images/${img.index}.webp`, alt="")