extends ../layouts/master

include ../components/breadcrumbs
include ../components/card
include ../components/modals

block content
  .catalog-page
    section.section.section--first
      .container 
        +breadcrumbs.breadcrumbs--noborder(items=['каталог'] page = "SLT BLOCKFIRE")
        .spoiler(data-spoiler-color='blockfire' data-accordion='')
          .spoiler__button(data-accordion-button='')
            h1.spoiler__title
              |#[span.word-span #[span(data-aos='fade-up') SLT]] #[span.word-span #[span(data-aos='fade-up') BLOCKFIRE]]
            .spoiler__icon(data-aos='fade-up')
              +arrow-svg.spoiler__svg
          .spoiler__dropdown(data-accordion-dropdown='')
            ul.spoiler__list
              -
                var items = [
                  {class: 'aqua', text: 'SLT AQUA'},
                  {class: 'pert', text: 'SLT  PE-RT'},
                  {class: 'tool', text: 'Инструменты'},
                ] 
              each item in items
                li.spoiler__item(class=item.class data-spoiler-item=item.class)
                  a.spoiler__link(href="#" data-link='') 
                    |#{item.text}
        .section__block 
          .filters 
            ul.filters__headings(data-aos='fade-up') 
              li.filters__headings-item.active 
                .filters__heading
                  |Все 
              each item in ['Трубы', 'Фитинги', 'Фитинги комбинированные', 'Компенсаторы', 'Крепления', 'Запорная арматура']
                li.filters__headings-item
                  a.filters__heading(href="#" data-link='')
                    |#{item}
                  .filters__icon(data-filters-button='q1')
                    +arrow-svg.filters__svg
            .filters__container
              .filters__dropdown(data-filters-dropdown='q1')
                ul.filters__list
                  each item in ['Муфты', 'Отоводы', 'Тройники', 'Крестовины', 'Обвод', 'Бурт', 'Фланец', 'Загрушка']
                    li.filters__item
                      a.filters__link(href="#" data-link='') 
                        |#{item}
        .section__block(data-aos='fade-up')
          .button-wrapper
            .button.button--wide.button-animate(data-fancy-button='c1')
              .button__text
                span
                  |Выбрать область применения
              .button__icon 
                +plus-svg.button__svg
        .category-list(data-list-container='')
          .category-list__row 
            .category-list__col
              .category-list__button
                +refresh-button.button--wide--mobile(data-clear-categories='')
                  |Сбросить
            .category-list__col
              template(data-catalog-template='')
                li.category-list__item(data-category='')
                  .category-list__text 
                  .category-list__icon(data-delete-category='')
                    +close-svg.category-list__svg
              ul.category-list__list(data-catalog-list='')
        .section__block.catalog
          .catalog-page__grid 
            - for (i = 0; i < 8; i++)
              .aos(data-aos='fade-up')
                a.card(href="#" data-link='')
                  .card__category 
                    .card__item.tooltip
                      .use-icon
                        +connect-svg.use-icon__svg.tooltip__icon 
                      .tooltip__container
                        |Холодное водоснабжение
                    .card__item.tooltip
                      .use-icon
                        +water-svg.use-icon__svg.tooltip__icon 
                      .tooltip__container
                        |Питьевая вода
                    .card__item.tooltip
                      .use-icon
                        +fire-svg.use-icon__svg.tooltip__icon 
                      .tooltip__container
                        |Пqwe
                  .card__container
                    .card__image
                      img(src="assets/images/card-2.webp", alt="")
                  .card__bot 
                    .card__title 
                      |Крестовина SLT BLOCKFIRE PP-R 
              .aos(data-aos='fade-up')
                a.card(href="#" data-link='')
                  .card__category 
                    .card__item.tooltip
                      .use-icon
                        +use-svg.use-icon__svg.tooltip__icon 
                      .tooltip__container
                        |Соединение
                    .card__item.tooltip
                      .use-icon
                        +connect-svg.use-icon__svg.tooltip__icon 
                      .tooltip__container
                        |Холодное водоснабжение
                    .card__item.tooltip
                      .use-icon
                        +fire-svg.use-icon__svg.tooltip__icon 
                      .tooltip__container
                        |Пqwe
                  .card__container
                    .card__image
                      img(src="assets/images/card-3.webp", alt="")
                  .card__bot 
                    .card__title 
                      |Муфта SLT BLOCKFIRE PP-R комбинированная BP
          .catalog__wrapper
            .catalog__loader
  +catalog-modal