extends ../layouts/master

include ../components/breadcrumbs
include ../components/card
include ../components/modals

block content
  .docs-page.cooperation-page
    section.section.section--first
      .container 
        +breadcrumbs(page = "Рекламная поддержка")
        .spoiler(data-spoiler-color='aqua')
          .spoiler__button
            h1.spoiler__title
              |SLT AQUA
            .spoiler__icon 
              +arrow-svg.spoiler__svg
          .spoiler__dropdown 
            ul.spoiler__list
              -
                var items = [
                  {class: 'aqua', text: 'SLT AQUA'},
                  {class: 'blockfire', text: 'SLT BLOCKFIRE'},
                  {class: 'pert', text: 'SLT  PE-RT'},
                  {class: 'tool', text: 'Инструменты'},
                ] 
              each item in items
                li.spoiler__item(class=item.class data-spoiler-item=item.class)
                  |#{item.text}
        .section__block 
          .filters 
            ul.filters__headings 
              li.filters__headings-item.active 
                .filters__heading
                  |Все 
              each item in ['Трубы', 'Фитинги', 'Фитинги комбинированные', 'Компенсаторы', 'Крепления', 'Запорная арматура']
                li.filters__headings-item(data-filters-button='q1')
                  .filters__heading
                    |#{item}
                  .filters__icon 
                    +arrow-svg.filters__svg
            .filters__container
              .filters__dropdown(data-filters-dropdown='q1')
                ul.filters__list
                  each item in ['Муфты', 'Отоводы', 'Тройники', 'Крестовины', 'Обвод', 'Бурт', 'Фланец', 'Загрушка']
                    li.filters__item
                      |#{item}
        .section__block 
          .button.button--wide(data-fancy-button='c1')
            .button__text
              |Области применения
            .button__icon.button__icon--right 
              +plus-svg.button__svg
        .category-list 
          .category-list__row 
            .category-list__col
              .category-list__button
                +refresh-button.button--wide--mobile(data-clear-categories='')
                  |Сбросить
            .category-list__col
              template(data-catalog-template='')
                li.category-list__item(data-category='')
                  .category-list__text 
                  .category-list__icon(data-delete-category='')
                    +close-svg.category-list__svg
              ul.category-list__list(data-catalog-list='')
        .section__block
          .catalog-page__grid 
            - for (i = 0; i < 16; i++)
              +card
  +catalog-modal