extends ../layouts/master

include ../components/breadcrumbs
include ../components/card
include ../components/modals

block content
  .catalog-page
    section.section.section--first
      .container 
        +breadcrumbs.breadcrumbs--noborder(items=['каталог'] page = "SLT AQUA")
        .spoiler(data-spoiler-color='aqua' data-accordion='')
          .spoiler__button(data-accordion-button='')
            h1.spoiler__title
              |#[span.word-span #[span SLT]] #[span.word-span #[span AQUA]]
            .spoiler__icon
              +arrow-svg.spoiler__svg
          .spoiler__dropdown(data-accordion-dropdown='')
            ul.spoiler__list
              -
                var items = [
                  {class: 'blockfire', text: 'SLT BLOCKFIRE'},
                  {class: 'pert', text: 'SLT  PE-RT'},
                  {class: 'tool', text: 'Инструменты'},
                ] 
              each item in items
                li.spoiler__item(class=item.class data-spoiler-item=item.class)
                  a.spoiler__link(href="#" data-link='') 
                    |#{item.text}
        .section__block 
          .filters 
            ul.filters__headings 
              li.filters__headings-item.active 
                .filters__heading
                  |Все 
              each item in ['Трубы', 'Фитинги', 'Фитинги комбинированные', 'Компенсаторы', 'Крепления', 'Запорная арматура']
                li.filters__headings-item
                  a.filters__heading(href="#" data-link='')
                    |#{item}
                  .filters__icon(data-filters-button='q1')
                    +arrow-svg.filters__svg
            .filters__container
              .filters__dropdown(data-filters-dropdown='q1')
                ul.filters__list
                  each item in ['Однослойные', 'Армированные стекловолокном', 'SDR11', 'SDR6', 'SDR7,4']
                    li.filters__item
                      a.filters__link(href="#" data-link='') 
                        |#{item}
        .section__block
          .button-wrapper
            .button.button--wide.button-animate(data-fancy-button='c1')
              .button__text
                span
                  |Выбрать область применения
              .button__icon 
                +plus-svg.button__svg
        .category-list(data-list-container='')
          .category-list__row 
            .category-list__col
              .category-list__button
                +refresh-button.button--wide--mobile(data-clear-categories='')
                  |Сбросить
            .category-list__col
              template(data-catalog-template='')
                li.category-list__item(data-category='')
                  .category-list__text 
                  .category-list__icon(data-delete-category='')
                    +close-svg.category-list__svg
              ul.category-list__list(data-catalog-list='')
        .section__block.catalog
          .catalog-page__grid 
            +card(title = 'Отвод двойной SLT AQUA PP-R с креплением комбинированный ВР')
            - for (i = 0; i < 15; i++)
              +card
          .catalog__wrapper
            .catalog__loader
  +catalog-modal