extends ../layouts/master

include ../components/breadcrumbs
include ../components/tech-docs

block content
  -
    var ddata = [
      {
        items: ['1']
      },
      {
        items: ['60']
      },
      {
        items: ['49']
      },
      {
        items: ['80']
      },
      {
        items: ['1']
      },
      {
        items: ['95']
      },
      {
        items: ['100']
      },
      {
        items: ['ГВС (60 ℃)']
      },
      {
        items: ['9,6']
      },
      {
        items: ['2']
      },
      {
        items: ['60']
      },
      {
        items: ['49']
      },
      {
        items: ['80']
      },
      {
        items: ['1']
      },
      {
        items: ['95']
      },
      {
        items: ['100']
      },
      {
        items: ['ГВС (70 ℃)']
      },
      {
        items: ['9,6']
      },
      {
        items: ['4']
      },
      {
        items: ['20', '40', '60']
      },
      {
        items: ['2,5', '20', '25']
      },
      {
        items: ['80']
      },
      {
        items: ['2.5']
      },
      {
        items: ['100']
      },
      {
        items: ['100']
      },
      {
        items: ['Низкотемпературное радиаторное отопление (60 ℃)']
      },
      {
        items: ['9,6']
      },
      {
        items: ['5']
      },
      {
        items: ['20', '40', '60']
      },
      {
        items: ['2,5', '20', '25']
      },
      {
        items: ['80']
      },
      {
        items: ['2.5']
      },
      {
        items: ['100']
      },
      {
        items: ['100']
      },
      {
        items: ['Низкотемпературное радиаторное отопление (60 ℃)']
      },
      {
        items: ['9,6']
      },
    ]
  -
    let tableMobile = [
      {
        top: true,
        text: 'Класс #[br] эксплуатации'
      },
      {
        items: ['1'],
      },
      {
        items: ['2'],
      },
      {
        items: ['4'],
        class: 'table__item--big'
      },
      {
        items: ['5'],
        class: 'table__item--big'
      },
      {
        items: ['ХВ'],
      },
      {
        top: true,
        tooltip: 'Т#[span.tooltip-span раб] - рабочая температура или комбинация рабочих температур транспортируемой воды',
        text: 'Т#[span.table__span раб], ℃'
      },
      {
        items: ['60'],
      },
      {
        items: ['60'],
      },
      {
        items: ['20', '40', '60'],
        class: 'table__item--big'
      },
      {
        items: ['20', '60', '80'],
        class: 'table__item--big'
      },
      {
        items: ['20'],
      },
      {
        top: true,
        text: 'Время при Т#[span.table__span раб], год'
      },
      {
        items: ['49'],
      },
      {
        items: ['49'],
      },
      {
        items: ['2,5', '20', '25'],
        class: 'table__item--big'
      },
      {
        items: ['14', '25', '10'],
        class: 'table__item--big'
      },
      {
        items: ['50'],
      },
      {
        top: true,
        tooltip: 'Т#[span.tooltip-span max] - максимальная рабочая температура транспортируемой воды, действия которой ограничены по времени',
        text: 'Т#[span.table__span max], ℃'
      },
      {
        items: ['80'],
      },
      {
        items: ['80'],
      },
      {
        items: ['70'],
        class: 'table__item--big'
      },
      {
        items: ['90'],
        class: 'table__item--big'
      },
      {
        items: ['-'],
      },
      {
        top: true,
        text: 'Время при Т#[span.table__span max] , год'
      },
      {
        items: ['1'],
      },
      {
        items: ['1'],
      },
      {
        items: ['2,5'],
        class: 'table__item--big'
      },
      {
        items: ['1'],
        class: 'table__item--big'
      },
      {
        items: ['-'],
      },
      {
        top: true,
        tooltip: 'Т#[span.tooltip-span авар] - аварийная температура транспортируемой воды, возникающая в аварийных ситуациях при нарушении работы автоматики терморегулирования, при этом аварийные фазы в отдельности не должны превышать 3-х часов',
        text: 'Т#[span.table__span авар] , ℃'
      },
      {
        items: ['95'],
      },
      {
        items: ['95'],
      },
      {
        items: ['100'],
        class: 'table__item--big'
      },
      {
        items: ['100'],
        class: 'table__item--big'
      },
      {
        items: ['-'],
      },
      {
        top: true,
        tooltip: 'Т#[span.tooltip-span авар] - аварийная температура транспортируемой воды, возникающая в аварийных ситуациях при нарушении работы автоматики терморегулирования, при этом аварийные фазы в отдельности не должны превышать 3-х часов',
        text: 'Время при #[span.table__line Т#[span.table__span авар]], час'
      },
      {
        items: ['100'],
      },
      {
        items: ['100'],
      },
      {
        items: ['100'],
        class: 'table__item--big'
      },
      {
        items: ['100'],
        class: 'table__item--big'
      },
      {
        items: ['-'],
      },
      {
        top: true,
        text: 'Область #[br] применения'
      },
      {
        items: ['ГВС (60 ℃)'],
      },
      {
        items: ['ГВС (60 ℃)'],
      },
      {
        items: ['Низкотемпературное радиаторное отопление (60 ℃)'],
        class: 'table__item--big'
      },
      {
        items: ['Низкотемпературное радиаторное отопление (60 ℃)'],
        class: 'table__item--big'
      },
      {
        items: ['ХВС'],
      },
      {
        top: true,
        tooltip: 'Р#[span.tooltip-span max] - максимальное рабочее давление воды',
        text: 'P#[span.table__span max], МПа'
      },
      {
        items: ['9,6'],
      },
      {
        items: ['6,6'],
      },
      {
        items: ['21,6'],
        class: 'table__item--big'
      },
      {
        items: ['21,6'],
        class: 'table__item--big'
      },
      {
        items: ['21,6'],
      },
    ]
  .catalog-page
    section.section.section--first.catalog-page__section 
      .container 
        +breadcrumbs(items = ['SLT AQUA', 'трубы', 'однослойная'] page = "Труба SLT Aqua PP-R SDR 7,4")
        .catalog-page__row 
          .catalog-page__col
            h1.catalog-page__title
              |#[span.word-span #[span Труба]] #[span.word-span #[span SLT AQUA]] #[span.word-span #[span PP-R/PP-R-GF/PP-R SDR 7,4]]
            p.catalog-page__text 
              |Труба напорная полипропиленовая армированная стекловолокном, SDR7,4 предназначена для систем горячего, питьевого водоснабжения и отопления, а также технологических трубопроводов, транспортирующих жидкости и газы, неагрессивные к материалу трубы
            .catalog-page__button
              .button.button-animate(data-scroll='#order')
                .button__text
                  span
                    |Сделать заказ
                .button__icon 
                  +big-arrow-svg.button__svg
          .catalog-page__col
            img.catalog-page__img(src="assets/images/catalog-main.webp", alt="")
          .catalog-page__col
            .catalog-page__label 
              |Применение
            ul.catalog-page__types 
              li.catalog-page__types-item
                .catalog-page__type 
                  .catalog-page__type-icon.use-icon
                    +fire-svg.use-icon__svg.catalog-page__type-svg
                  .catalog-page__type-text 
                    |горячее водоснабжение
              li.catalog-page__types-item
                .catalog-page__type 
                  .catalog-page__type-icon.use-icon
                    +heating-svg.use-icon__svg.catalog-page__type-svg
                  .catalog-page__type-text 
                    |отопление
              li.catalog-page__types-item
                .catalog-page__type 
                  .catalog-page__type-icon.use-icon
                    +water-svg.use-icon__svg.catalog-page__type-svg
                  .catalog-page__type-text 
                    |питьевая вода
    section.section.section--md 
      .container
        .catalog-page__container 
          .table 
            .table__grid
              -
                var top = [
                  {
                    text: 'Класс #[br] эксплуатации',
                  },
                  {
                    tooltip: 'Т#[span.tooltip-span раб] - рабочая температура или комбинация рабочих температур транспортируемой воды',
                    text: 'Т#[span.table__span раб], ℃',
                  },
                  {
                    text: 'Время при Т#[span.table__span раб], год',
                  },
                  {
                    tooltip: 'Т#[span.tooltip-span max] - максимальная рабочая температура транспортируемой воды, действия которой ограничены по времени',
                    text: 'Т#[span.table__span max], ℃',
                  },
                  {
                    text: 'Время при Т#[span.table__span max], год',
                  },
                  {
                    tooltip: 'Т#[span.tooltip-span авар] - аварийная температура транспортируемой воды, возникающая в аварийных ситуациях при нарушении работы автоматики терморегулирования, при этом аварийные фазы в отдельности не должны превышать 3-х часов',
                    text: 'Т#[span.table__span авар], час',
                  },
                  {
                    text: 'Время при Т#[span.table__span авар], час',
                  },
                  {
                    text: 'Область #[br] применения',
                  },
                  {
                    tooltip: 'Р#[span.tooltip-span max] - максимальное рабочее давление воды',
                    text: 'P#[span.table__span max], МПа',
                  }
                ]
              each item in top
                .table__top
                  |#{item.text}
                  if (item.tooltip)
                    .tooltip.tooltip--absolute
                      .tooltip__icon 
                        +tooltip-svg.tooltip__svg 
                      .tooltip__container 
                        |#{item.tooltip}
              each item in ddata 
                .table__item 
                  ul.table__list 
                    each text in item.items
                      li.table__list-item 
                        .table__text 
                          |#{text}
            .table__mobile
              each item in tableMobile 
                if (item.top)
                  .table__top(class=(item.tooltip ? 'table__top--tooltip' : ''))
                    |#{item.text}
                    if (item.tooltip)
                      .tooltip.tooltip--absolute
                        .tooltip__icon 
                          +tooltip-svg.tooltip__svg 
                        .tooltip__container 
                          |#{item.tooltip}
                else 
                  .table__item(class=item.class)
                    ul.table__list 
                      each el in item.items
                        li.table__list-item 
                          .table__text 
                            |#{el}
    section.section 
      .container 
        h3.catalog-page__heading
          |#[span.word-span #[span Характеристики]]
        ul.catalog-page__list
          -
            var list = [
              {label: 'Материал', text: '1 слой: PP-R — полипропилен; 2 слой: PP-R-GF — стеклонаполненный полипропилен; 3 слой: PP-R — полипропилен'},
              {label: 'Номинальное давление', text: 'PN10'},
              {label: 'Стандартное размерное соотношение', text: 'SDR'},
              {label: 'Нормализованная серия труб', text: 'S5'},
              {label: 'Коэффициент линейного расширения', text: '0,13 мм/(m×°С)'},
              {label: 'Марка исходного сырья', text: 'SIBEX PP R003 EX/1 (первичный рандом сополимер тип 3)'},
              {label: 'Цвет', text: 'Белый'},
              {label: 'Нормативный документ', text: 'ГОСТ 32415-2013'},
              {label: 'Гарантия', text: '10 лет'},
              {label: 'Срок службы', text: 'Более 50 лет'},
            ] 
          each item in list
            li.catalog-page__list-item 
              .catalog-page__list-row 
                .catalog-page__list-col
                  .catalog-page__list-label 
                    |#{item.label}
                .catalog-page__list-col
                  .catalog-page__list-text 
                    |#{item.text}
    section.section.section--md#order
      .container 
        .row 
          .row__col
            h3 
              |#[span.word-span #[span Сделать]] #[span.word-span #[span заказ]]
          .row__col
            p.catalog-page__caption 
              |Здесь вы можете сформировать список требуемых товаров. Наши менеджеры обработают заказ, рассчитают стоимость, найдут подходящего по всем параметрам поставщика и отправят вам коммерческое предложение.
        .catalog-page__colors 
          .catalog-page__colors-item
            .catalog-page__colors-text 
              |Цвет
            .catalog-page__colors-icon.tooltip.active
              img.tooltip__icon(src="assets/images/svg/colors-white.svg", alt="")
              .tooltip__container 
                |белый
            .catalog-page__colors-icon.tooltip
              img.tooltip__icon(src="assets/images/svg/colors-green.svg", alt="")
              .tooltip__container 
                |зеленый
            .catalog-page__colors-icon.tooltip
              img.tooltip__icon(src="assets/images/svg/colors-red.svg", alt="")
              .tooltip__container 
                |красный
        .section__block
          .catalog-page__table.catalog-page__table--big
            .catalog-page__table-head 
              each item in ['Наружный диаметр d#[span.catalog-page__table-span n], мм', 'Артикул', 'Толщина стенки e#[span.catalog-page__table-span n], мм', 'Длина #[br] отрезка, м', 'Количество #[br] в упаковке, м', 'Вес, кг/м', 'Добавить в заказ, м']
                .catalog-page__table-cell
                  |#{item}
            .catalog-page__table-body
              - for (i = 0; i < 15; i++)
                label.catalog-page__table-item(data-table-item='')
                  each item in ['20', '2SLTPS1120', '1,9', '2', '50', '0,105', 'last']
                    if (item == "last")
                      .catalog-page__table-cell(data-table-cell='')
                        .catalog-page__table-row 
                          .catalog-page__table-col
                            input.catalog-page__table-input(type="number" placeholder="Введите количество" data-table-input='')
                            .catalog-page__table-caption(data-table-caption='')
                              |
                          .catalog-page__table-col
                            .catalog-page__table-button(data-catalog-button='')
                              .catalog-page__table-add 
                                |Добавить
                            .catalog-page__change 
                              .catalog-page__change-btn(data-catalog-change='')
                                |Изменить
                              .catalog-page__change-icon(data-catalog-remove='')
                                +close-svg.catalog-page__change-svg
                    else
                      .catalog-page__table-cell 
                        .catalog-page__table-text
                          |#{item}
          .catalog-page__block 
            ul.catalog-page__block-list
              -
                var ddata = [
                  {label: "Толщина стенки e#[span.catalog-page__table-span n], мм", text: "1.9"},
                  {label: "Длина отрезка, м", text: "2"},
                  {label: "Количество #[br] в упаковке, м", text: "50"},
                  {label: "Вес, кг/м", text: "0,105"},
                ]
              - for (i = 0; i < 12; i++)
                li.catalog-page__block-item(data-aos='fade-up' data-table-item='') 
                  .catalog-page__block-top 
                    .catalog-page__block-cell 
                      .catalog-page__block-label 
                        |Наружный диаметр d#[span.catalog-page__table-span n], мм
                      .catalog-page__block-text
                        |20
                  .catalog-page__block-body(data-table-cell='')
                    each item in ddata 
                      .catalog-page__block-cell 
                        .catalog-page__block-label 
                          |#{item.label}
                        .catalog-page__block-text
                          |#{item.text}
                    .catalog-page__block-cell 
                      .catalog-page__block-label.darken
                        |Добавить в заказ, м
                      .catalog-page__block-input
                        input.catalog-page__table-input(type="number" placeholder="Кол-во" data-table-input='')
                        .catalog-page__table-caption(data-table-caption='')
                          |
                    .catalog-page__block-cell 
                      .catalog-page__table-button(data-catalog-button='')
                        .catalog-page__table-add 
                          |Добавить
                      .catalog-page__block-buttons 
                        .catalog-page__block-btn
                          .catalog-page__change-btn(data-catalog-change='')
                            |Изменить
                        .catalog-page__block-btn
                          .catalog-page__change-btn(data-catalog-remove='')
                            |Удалить
    section.section 
      .container 
        +tech-docs