extends ../layouts/master

include ../components/breadcrumbs
include ../components/loader
include ../components/tech-docs
include ../components/product-cards
include ../components/slider-buttons


//- block loader 
  +loader


block content
  -
    var ddata = {
      slider: [
        {
          img: "assets/images/main-slide-1.jpg",
          title: "Гостиничные и торгово-развлекательные комплексы"
        },
        {
          img: "assets/images/main-slide-2.jpg",
          title: "Жилые комплексы"
        },
        {
          img: "assets/images/main-slide-3.jpg",
          title: "Общественные здания"
        },
      ]
    }
  .main-page 
    section.main-page__hero
      .container 
        .main-page__hero-row(data-aos='fade-up')
          .main-page__hero-col
            h1 
              |Производство полимерных трубопроводных систем 
          .main-page__hero-col
            +link-right
              |О компании
    section.section.section--md 
      .main-page__video(data-aos='fade-up' data-decrease-container='')
        .main-page__video-left
        .main-page__video-right
        .main-page__video-icon(data-decrease='')
          +about-logo-svg.main-page__video-svg
        video.main-page__video-player(src="assets/videos/slt_company_2.mp4" loop muted)
    section.main-page__section 
      .main-page__section-grid 
        +product-cards
    section.main-page__section 
      .main-page__cooperation
        .main-page__cooperation-bg(data-parallax='1')
          +cooperation-bg-svg.main-page__cooperation-svg
        .main-page__cooperation-image 
          img(src="assets/images/truck.webp", alt="")
        .main-page__cooperation-container 
          .main-page__cooperation-top
            .main-page__cooperation-row 
              .main-page__cooperation-col
                h3.main-page__cooperation-title 
                  |Развитая логистическая инфраструктура позволяет доставлять продукцию #[br] в самые отдаленные регионы #[span.main-page__cooperation-span России и страны СНГ]
              .main-page__cooperation-col
                p.main-page__cooperation-text 
                  |Мы активно сотрудничаем с торговыми компаниями, проектными, монтажными и строительными организациями
          .main-page__cooperation-bot
            +link-right.button--color-white 
              |Сотрудничество
    section.section.section--overflow(data-parallax-container='1')
      .container 
        .main-page__top
          .main-page__top-row 
            .main-page__top-col
              h3.main-page__title 
                |Продукция СЛТ Аква на объектах
            .main-page__top-col
              p.main-page__top-text 
                |Наши трубопроводные системы установлены на многих объектах строительства жилого, общественного и промышленного назначения
          .main-page__top-button 
            +link-right 
              |Все объекты
        .main-page__slider
          .main-page__slider-desktop
            .template
              .template__slides
                each item in ddata.slider
                  a.main-page__slider-frame(href='#')
                    .main-page__slider-slide
                      img.main-page__slider-image(src=item.img)
              .template__titles
                each item in ddata.slider
                  h5.main-page__slider-title
                    span.main-page__slider-span
                      |#{item.title}
            .main-page__controls
              .slider-buttons
                .slider-buttons__item(data-slider-arrow='prev')
                  +button-icon-left.button-icon--blue
                .slider-buttons__item(data-slider-arrow='next')
                  +button-icon.button-icon--blue
            .main-page__slider-row
              - for (i = 0; i < 3; i++)
                .main-page__slider-col
                  .main-page__slider-container  
                  .main-page__slider-wrapper
          .main-page__slider-mobile 
            .swiper-container.swiper-container--visible.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='1' data-slider-prev='11' data-slider-next='12')
              .swiper-wrapper 
                - for (i = 0; i < 3; i++)
                  each item in ddata.slider
                    .swiper-slide 
                      a.main-page__slider-slide(href="#")
                        .main-page__slider-image 
                          img(src=item.img, alt="")
                        h5.main-page__slider-title 
                          |#{item.title}
    section.section
      .container 
        h3.main-page__title 
          |Помощь в инженерных расчетах
        .section__block(data-parallax-container='2') 
          .main-page__calculator 
            .main-page__calculator-img(data-parallax='2')
              img.main-page__calculator-bg(src="assets/images/calculator-bg.webp", alt="")
            each item, i in ['Расчет компенсаторов #[br] для систем SLT AQUA', 'Расчет компенсаторов #[br] для систем BLOCKFIRE', 'Расчета удельных гидравлических потерь трубопроводов  SLT AQUA']
              a.main-page__calculator-link(href="#" class=(i < 2 ? 'red' : 'blue'))
                .main-page__calculator-col
                  .main-page__calculator-icon
                    +button-icon.button-icon--white
                  .main-page__calculator-title 
                    |#{item}