extends ../layouts/master

include ../components/breadcrumbs
include ../components/loader
include ../components/tech-docs
include ../components/product-cards
include ../components/slider-buttons


block loader 
  +loader


block content
  -
    var ddata = {
      slider: [
        {
          img: "assets/images/main-slide-1.jpg",
          title: "Гостиничные и торгово-развлекательные комплексы"
        },
        {
          img: "assets/images/main-slide-2.jpg",
          title: "Жилые комплексы"
        },
        {
          img: "assets/images/main-slide-3.jpg",
          title: "Общественные здания"
        },
      ]
    }
  .main-page 
    section.main-page__hero
      .container 
        .main-page__hero-row(data-aos='fade-up')
          .main-page__hero-col
            h1 
              |Производство полимерных трубопроводных систем 
          .main-page__hero-col
            +link-right
              |О компании
    section.section.section--md 
      .main-page__image(data-aos='fade-up')
        video.main-page__video(src="assets/videos/slt_company_2.mp4" loop muted)
    section.main-page__section 
      .main-page__section-grid 
        +product-cards
    section.main-page__section 
      .main-page__cooperation
        .main-page__cooperation-container 
          .main-page__cooperation-top
            .main-page__cooperation-row 
              .main-page__cooperation-col
                h3.main-page__cooperation-title 
                  |Развитая логистическая инфраструктура позволяет доставлять продукцию в самые отдаленные регионы #[span.main-page__cooperation-span России и страны СНГ]
              .main-page__cooperation-col
                p.main-page__cooperation-text 
                  |Мы активно сотрудничаем с торговыми компаниями, проектными, монтажными и строительными организациями
          .main-page__cooperation-bot
            +link-right.button--color-white 
              |Сотрудничество
    section.section
      .container 
        .main-page__top
          .main-page__top-row 
            .main-page__top-col
              h3.main-page__title 
                |Продукция СЛТ Аква на объектах
            .main-page__top-col
              p.main-page__top-text 
                |Наши трубопроводные системы установлены на многих объектах строительства жилого, общественного и промышленного назначения
          .main-page__top-button 
            +link-right 
              |Все объекты
        .main-page__slider
          .main-page__slider-desktop
            .main-page__controls
              +slider-buttons(prev = 11 next = 12)
            .swiper-container.swiper-container--visible.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='10' data-slider-prev='11' data-slider-next='12')
              .swiper-wrapper 
                each item in ddata.slider
                  .swiper-slide 
                    .main-page__slider-slide 
                      .main-page__slider-image 
                        img(src=item.img, alt="")
                      h5.main-page__slider-title 
                        |#{item.title}
          .main-page__slider-mobile 
            .swiper-container.swiper-container--visible.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='1' data-slider-prev='11' data-slider-next='12')
              .swiper-wrapper 
                - for (i = 0; i < 3; i++)
                  each item in ddata.slider
                    .swiper-slide 
                      .main-page__slider-slide 
                        .main-page__slider-image 
                          img(src=item.img, alt="")
                        h5.main-page__slider-title 
                          |#{item.title}
    section.section 
      .container 
        h3.main-page__title 
          |Помощь в инженерных расчетах
        .section__block 
          .main-page__calculator 
            each item, i in ['Расчет компенсаторов #[br] для систем SLT AQUA', 'Расчет компенсаторов #[br] для систем BLOCKFIRE', 'Расчета удельных гидравлических потерь трубопроводов  SLT AQUA']
              a.main-page__calculator-link(href="#" class=(i < 2 ? 'red' : 'blue'))
                .main-page__calculator-col
                  .main-page__calculator-icon
                    +button-icon.button-icon--white
                  .main-page__calculator-title 
                    |#{item}