include ./button-icon
include ./slider-buttons

mixin about-slider 
  .container
    .about-page__slider(data-about-slider='' data-aos='fade-up')
      .about-page__slider-top
        .about-page__slider-col
          .about-page__slider-bar
            .about-page__slider-progress(data-slider-progress='')
        .about-page__slider-col
          .about-page__slider-controls
            .slider-buttons.slider-buttons--default
              .slider-buttons__item 
                +button-icon-left.button-icon--blue(data-about-prev='')
              .slider-buttons__item 
                +button-icon.button-icon--blue(data-about-next='')
      .about-page__slider-desktop(data-slider-parent='')
        .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-desktop='')
          .swiper-wrapper
            - for (j = 0; j < 2; j++) 
              - for (i = 0; i < 6; i++)
                .swiper-slide 
                  .about-page__slider-slide 
                    img.about-page__slider-img(src=`assets/images/about-slide-${i+1}.webp`, alt="")
            .swiper-slide 
              .about-page__slider-slide 
                img.about-page__slider-img(src=`assets/images/about-slide-${i+1}.webp`, alt="")
                .about-page__slider-button(data-fancy-button='video') 
                  +play-svg.about-page__slider-svg
      .about-page__slider-mobile 
        .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-mobile='')
          .swiper-wrapper 
            .swiper-slide 
              .about-page__slider-slide 
                img.about-page__slider-img(src=`assets/images/about-slide-${i+1}.webp`, alt="")
                .about-page__slider-button(data-fancy-button='video') 
                  +play-svg.about-page__slider-svg
            - for (i = 0; i < 6; i++)
              .swiper-slide 
                .about-page__slider-slide 
                  img.about-page__slider-img(src=`assets/images/about-slide-${i+1}.webp`, alt="")

mixin about-bot 
  .about-bot(class=attributes.class data-aos='fade-up')
    .about-bot__item 
      a.about-bot__card(href="#")
        .about-bot__container 
          h4.about-bot__title
            |Производство
          .about-bot__button 
            +button-icon.button-icon--blue
          .about-bot__count 
            |1
        .about-bot__hover 
          .about-bot__bg 
            .about-bot__container 
              h4.about-bot__title
                |Производство
              .about-bot__button 
                +button-icon.button-icon--blue
              .about-bot__count 
                |1
            img.about-bot__img(src="assets/images/production.jpg", alt="")
      a.about-bot__card(href="#")
        .about-bot__container 
          h4.about-bot__title
            |Работа у нас
          .about-bot__button 
            +button-icon.button-icon--blue
          .about-bot__count 
            |2
        .about-bot__hover 
          .about-bot__bg 
            .about-bot__container 
              h4.about-bot__title
                |Работа у нас
              .about-bot__button 
                +button-icon.button-icon--blue
              .about-bot__count 
                |2
            img.about-bot__img(src="assets/images/production.jpg", alt="")
    .about-bot__item
      a.about-bot__line(href="#")
        .about-bot__container 
          h4.about-bot__title
            |Производство
          .about-bot__button 
            +button-icon.button-icon--blue
          .about-bot__count 
            |3
        .about-bot__hover 
          .about-bot__bg 
            .about-bot__container 
              h4.about-bot__title
                |Производство
              .about-bot__button 
                +button-icon.button-icon--blue
              .about-bot__count 
                |3
            img.about-bot__img(src="assets/images/production.jpg", alt="")