mixin accordion 
  .accordion(data-accordion='')
    .accordion__head(data-accordion-button='')
      .accordion__row 
        .accordion__col
          .accordion__title 
            |Менеджер по продажам
        .accordion__col
          .accordion__text 
            |от 50000 ₽
        .accordion__col
          .accordion__location 
            .accordion__location-icon 
              +geo-svg.accordion__location-svg
            .accordion__location-text 
              |Санкт-Петербург
        .accordion__col
          .accordion__icon 
            +arrow-svg.accordion__svg
    .accordion__body(data-accordion-dropdown='')
      .accordion__container 
        .accordion__block 
          h6
            |Задачи
          ul.accordion__list
            each item in ['Продвижение и продажа продукции завода на рынке полипропиленовых систем', 'Активный поиск клиентов (потенциальные дистрибьюторы / дилеры, проектные и строительные организации, объекты строительства), проведение встреч и переговоров', 'Консультирование клиентов по продукции компании и другим рабочим вопросам, составление коммерческих предложений', 'Анализ спроса и предложений по ассортименту продукции', 'Взаимодействие со складом по вопросам отгрузки', 'Участие в разработке и реализации маркетинговых и торговых программ компании, участие в семинарах и выставках', 'Контроль оплат и отгрузок, контроль дебиторской задолженности']
              li.accordion__item 
                .list-item
                  |#{item}
        .accordion__block 
          h6
            |Навыки
          ul.accordion__list
            each item in ['Высшее образование', 'Опыт работы в продажах — от 1 года', 'Сильные коммуникативные навыки, умение адаптироваться под личностные качества и особенности клиента', 'Нацеленность на результат, способность работать самостоятельно', 'Готовность к разъездному характеру работы и командировкам']
              li.accordion__item 
                .list-item
                  |#{item}
        .accordion__block 
          .accordion__button 
            a.button.button-animate.button--wide--mobile(data-fancy-button='work1')
              .button__text
                span
                  |Откликнуться
              .button__icon
                +plus-svg.button__svg

mixin accordion-big
  -
    var ddata = {
      top: [
        {
          label: 'Адрес',
          items: [
            {isLink: false, text: 'пр.Ветеранов 109 к4, ТЦ Стройдвор цокольный этаж'},
          ]
        },
        {
          label: 'Телефон',
          items: [
            {isLink: true, text: '+7 (812) 244-01-44 (доб. 510)', href: 'tel:+78122440144'},
            {isLink: true, text: '+7 (812) 244-01-44 (доб. 510)', href: 'tel:+78122440144'},
            {isLink: true, text: '+7 (812) 244-01-44 (доб. 510)', href: 'tel:+78122440144'},
          ]
        },
        {
          label: 'E-mail',
          items: [
            {isLink: true, text: 'mag@teksneva.ru', href: 'mailto:mag@teksneva.ru'},
          ]
        },
        {
          label: 'Время работы',
          items: [
            {isLink: false, text: 'ПН – ПТ 10:00 - 20:00',},
            {isLink: false, text: 'СБ 10:30 - 19:00',},
            {isLink: false, text: 'ВС 9:00 - 14:30',},
          ]
        },
      ],
      bot: [
        {
          text: 'ЖК Апарт-отель YE’S',
          src: 'accordion-1.webp'
        },
        {
          text: 'ЖК Среда',
          src: 'accordion-2.webp'
        },
        {
          text: 'ЖК Три Кита',
          src: 'accordion-3.webp'
        },
        {
          text: 'Ресторан Макдональдс',
          src: 'accordion-4.webp'
        },
        {
          text: 'НИИ Радиосвязь',
          src: 'accordion-5.webp'
        },
      ]
    }
  .accordion.accordion--big(data-accordion='')
    .accordion__head(data-accordion-button='')
      .accordion__row 
        .accordion__col
          .accordion__title 
            |ООО «Текс-Нева»
          a.accordion__label(href='#')
            |teksneva.ru
        .accordion__col
          .breadcrumbs.breadcrumbs--small 
            ul.breadcrumbs__list 
              each item in ['Интернет-магазин', 'В продаже SLT BLOCKFIRE', 'Самовывоз со склада', 'Услуги монтажа', 'Интернет-магазин', 'В продаже SLT BLOCKFIRE', 'Услуги монтажа', 'Интернет-магазин', 'В продаже SLT BLOCKFIRE', ]
                li.breadcrumbs__item 
                  .breadcrumbs__link
                    |#{item}
        .accordion__col
          .accordion__location 
            .accordion__location-icon 
              +geo-svg.accordion__location-svg
            .accordion__location-text 
              |Санкт-Петербург
        .accordion__col
          .accordion__icon 
            +arrow-svg.accordion__svg
    .accordion__body(data-accordion-dropdown='')
      .accordion__top
        .accordion__container 
          .accordion__top-row 
            each item in ddata.top
              .accordion__top-col 
                .accordion__top-label 
                  |#{item.label}
                ul.accordion__top-list 
                  each el in item.items
                    li.accordion__top-item
                      if (el.isLink)
                        a.accordion__top-text.accordion__link(href=el.href) 
                          |#{el.text}
                      else 
                        .accordion__top-text 
                          |#{el.text}
      if (!attributes.objects)
        .accordion__bot 
          .accordion__container 
            .accordion__bot-title 
              |Реализованные объекты
            .accordion__bot-grid 
              each item in ddata.bot
                a.accordion__bot-item(href="#")
                  .accordion__bot-container 
                    .accordion__bot-img 
                      img.accordion__bot-pic(src=`assets/images/${item.src}`, alt="")
                  .accordion__bot-text 
                    |#{item.text}

mixin accordion-simple
  .accordion.accordion--simple(data-accordion='')
    .accordion__head(data-accordion-button='')
      .accordion__row 
        .accordion__col
          .accordion__img 
            img(src=`assets/images/${attributes.url}`, alt="")
          .accordion__title 
            |Торговым компаниям
        .accordion__col
          .accordion__icon 
            +arrow-svg.accordion__svg
    .accordion__body(data-accordion-dropdown='')
      .accordion__container 
        h6 
          |Одним из приоритетных направлений в своем развитии мы видим расширение зоны присутствия нашей продукции на рынке в динамично развивающихся регионах, поэтому мы всегда открыты к сотрудничеству
        .accordion__inner
          h6
            |Мы гарантируем
          ul.accordion__list
            each item in ['Высокое качество продукции', 'Индивидуальное предложение по вашему региону', 'Доставку в любую точку Российской Федерации', 'Всестороннюю поддержку на объектах строительства', 'Эксклюзивные продуктовые решения', 'Подбор удобных логистических решений', 'Мотивационные программы для сотрудников и клиентов партнера', 'Техническую и рекламную поддержку', 'Помощь в расширении клиентской базы', 'Долгосрочное сотрудничество', 'Строгое соблюдение политики продаж',]
              li.accordion__item 
                .list-item
                  |#{item}
        .accordion__wrapper
          .button.button.button--wide--mobile.button-animate(data-scroll='#form')
            .button__text
              span
                |Оставить заявку
            .button__icon 
              +big-arrow-svg.button__svg
