mixin calc-table
    -
      var ddata = [
        ['', ''],
        ['', ''],
        ['', ''],
        ['', ''],
        ['', ''],
        ['', ''],
        ['', ''],
        ['', ''],
        ['при 5ᴼС', '0.000001519'],
        ['при 10ᴼС', '0.000001307'],
        ['при 20ᴼС', '0.000001004'],
        ['при 40ᴼС', '0.000000658'],
        ['при 50ᴼС', '0.000000554'],
        ['при 55ᴼС', '0.000000512'],
        ['при 60ᴼС', '0.000000475'],
        ['при 65ᴼС', '0.000000444'],
        ['при 70ᴼС', '0.000000413'],
        ['при 80ᴼС', '0.000000365'],
        ['при 90ᴼС', '0.000000326'],
        ['', '0.000007'],
        ['', ''],
      ]
    .test-table(class=attributes.class data-table-name='SDR11' data-calc-table=[
        [20, 25, 32, 40, 50, 64, 75, 90, 110],
        [1.9, 2.3, 2.9, 3.7, 4.6, 5.8, 6.8, 8.2, 10.0],
        [11, 11, 11, 11, 11, 11, 11, 11, 11, ],
        [20.3, 25.3, 32.3, 40.3, 50.4, 63.6, 75.6, 90.6, 110.4],
        [2.1, 2.6, 3.3, 4.0, 5.0, 6.2, 7.5, 9.4, 10.9]])
      .test-col
        .test-cell
        .test-cell
          |PPR-GF,  SDR11
      each col in ddata
        .test-col
          each cell in col 
            .test-cell
              |#{cell}
    .test-table(class=attributes.class data-table-name='SDR7' data-calc-table=[
        [20, 25, 32, 40, 50, 64, 75, 90, 110],
        [2.8, 3.5, 4.4, 5.5, 6.9, 8.6, 10.3, 12.3, 15.1],
        [7.4, 7.4, 7.4, 7.4, 7.4, 7.4, 7.4, 7.4, 7.4, ],
        [20.3, 25.2, 32.3, 40.4, 50.3, 63.5, 75.5, 90.4, 110.7],
        [3.1, 3.8, 4.6, 5.7, 7.2, 8.7, 10.9, 13.0, 16.0]])
      .test-col
        .test-cell
        .test-cell
          |PPR-GF,  SDR7.4
      each col in ddata
        .test-col
          each cell in col 
            .test-cell
              |#{cell}
    .test-table(class=attributes.class data-table-name='SDR6' data-calc-table=[
        [20, 25, 32, 40, 50, 64, 75, 90, 110],
        [3.4, 4.2, 5.4, 6.7, 8.3, 10.5, 12.5, 15, 18.3],
        [6, 6, 6, 6, 6, 6, 6, 6, 6, ],
        [20.3, 25.3, 32.3, 40.4, 50.5, 63.5, 75.7, 90.8, 110.8],
        [3.8, 4.6, 5.8, 7.1, 9.0, 10.7, 12.8, 16, 19]])
      .test-col
        .test-cell
        .test-cell
          |PPR-GF,  SDR6
      each col in ddata
        .test-col
          each cell in col 
            .test-cell
              |#{cell}