mixin footer
  footer.footer(class=attributes.class)
    .footer__inner
      .container
        .footer__top
          .footer__row.footer__row--mobile-grid
            .footer__col
              .footer__label(data-aos='fade-up') 
                |Продукция
              ul.footer__products 
                each item in ['SLT AQUA', 'SLT BLOCKFIRE', 'SLT PE-RT', 'Инструменты']
                  li.footer__products-item(data-aos='fade-up') 
                    a.footer__products-link(href="#" data-link='') 
                      h5
                        |#{item}
            .footer__col
              .footer__section 
                .footer__label(data-aos='fade-up')
                  |О компании
                ul.footer__list 
                  each item in ['СЛТ Аква', 'Производство', 'Работа у нас']
                    li.footer__item(data-aos='fade-up')
                      a.footer__link(href="#" data-link='') 
                        |#{item}
              .footer__section 
                .footer__label(data-aos='fade-up')
                  |Техническая информация
                ul.footer__list 
                  each item in ['Разрешительная документация', 'Программы для проектировщиков', 'Информационные материалы']
                    li.footer__item(data-aos='fade-up') 
                      a.footer__link(href="#" data-link='') 
                        |#{item}
            .footer__col
              .footer__section 
                .footer__label(data-aos='fade-up')
                  |Сотрудничество
                ul.footer__list 
                  each item in ['Условия сотрудничества', 'Рекламная поддержка']
                    li.footer__item(data-aos='fade-up') 
                      a.footer__link(href="#" data-link='') 
                        |#{item}
              .footer__section 
                .footer__label(data-aos='fade-up')
                  |Сервисы расчета
                ul.footer__list 
                  each item in ['Расчет компенсаторов для систем SLT AQUA', 'Расчет компенсаторов для систем BLOCKFIRE', 'Расчета удельных гидравлических потерь #[br] трубопроводов SLT AQUA']
                    li.footer__item(data-aos='fade-up') 
                      a.footer__link(href="#" data-link='') 
                        |#{item}
            .footer__col
              ul.footer__list 
                each item in ['События', 'Объекты', 'Контакты', 'Где купить?']
                  li.footer__item(data-aos='fade-up') 
                    a.footer__link(href="#" data-link='') 
                      |#{item}
        .footer__bot
          .footer__row 
            .footer__col
              .footer__bot-item(data-aos='fade-up')
                a.footer__phone(href="tel:" + data.phone) 
                  h4
                    |#{data.phone}
                .footer__socials 
                  a.footer__socials-item(href="#")
                    .footer__socials-container
                      +facebook-svg.footer__socials-svg
                  a.footer__socials-item(href="#")
                    .footer__socials-container
                      +instagram-svg.footer__socials-svg
            .footer__col 
              .footer__contacts 
                .footer__contacts-item(data-aos='fade-up') 
                  .footer__label.footer__label--sm
                    |По вопросам сотрудничества
                  a.footer__mail(href="mailto:info@slt-aqua.ru") 
                    h5
                      |info@slt-aqua.ru
                .footer__contacts-item(data-aos='fade-up')
                  .footer__label.footer__label--sm
                    |Для заявок на продукцию
                  a.footer__mail(href="mailto:order@slt-aqua.ru") 
                    h5
                      |order@slt-aqua.ru
            .footer__col 
              .footer__bot-item(data-aos='fade-up')
                a.footer__policy(href="#") 
                  |Политика конфиденциальности
                .footer__corps 
                  .footer__corp 
                    |© СЛТ Аква 2022
                  .footer__corp 
                    |Сделано в 
                    a.footer__span(href="#") CloudMill
