mixin header
  -
    var ddata = {
      nav: [
        {text: 'О компании', isAccordion: true},
        {text: 'Объекты', isAccordion: false},
        {text: 'Техническая информация', isAccordion: true},
        {text: 'Сотрудничество', isAccordion: true},
      ]
    }
  header.header
    .header__inner
      .container 
        .header__desktop(data-aos='fade-up') 
          .header__top
            .header__row
              .header__col
                ul.header__links 
                  li.header__links-item(data-header-menu='')
                    .header__links-button(data-header-button='') 
                      .header__text 
                        |Сервисы расчета
                      .header__links-icon 
                        +arrow-svg.header__links-svg
                    .header__dropdown-overlay(data-header-overlay='')
                    .header__dropdown(data-header-dropdown='')
                      .header__dropdown-container
                        ul.header__dropdown-list
                          each item in ['Расчет компенсаторов для систем SLT AQUA', 'Расчет компенсаторов для систем BLOCKFIRE', 'Расчета удельных гидравлических потерь трубопроводов  SLT AQUA', ]
                            li.header__dropdown-item 
                              a.header__dropdown-link(href="#") 
                                |#{item}
                  each item in ['События', 'Контакты'] 
                    li.header__links-item 
                      a.header__links-link(href="#") 
                        |#{item}
              .header__col
                .header__feedback 
                  .header__feedback-col
                    a.header__feedback-link(href="#")
                      .header__feedback-icon 
                        +geo-svg.header__feedback-svg
                      .header__text 
                        |Где купить
                  .header__feedback-col
                    .header__feedback-buttons 
                      .header__feedback-item
                        .button.button--sm.button-animate(data-fancy-button='call')
                          .button__text
                            span Обратный звонок
                      .header__feedback-item
                        .button.button--sm.button--gray.button-animate
                          .button__text
                            span Написать нам
                          .button__icon 
                            +arrow-svg
                    a.header__phone(href="tel:" + data.phone) 
                      |#{data.phone}
          .header__bot 
            .header__row 
              .header__col
                .header__logo
                  a.header__logo-link(href="#") 
                    +logo-svg.header__logo-svg
                .header__button.button-animate(data-accordion-header='cards')
                  .header__button-icon 
                    +header-catalog-svg.header__button-svg
                  .header__button-text
                    span
                      |Каталог
              .header__col
                .header__nav 
                  ul.header__list 
                    each item, i in ddata.nav
                      li.header__item 
                        if (item.isAccordion)
                          .header__accordion(data-accordion-header=i)
                            .header__accordion-text 
                              |#{item.text}
                            .header__accordion-icon 
                              +arrow-svg.header__accordion-svg 
                          .header__accordion-dropdown
                        else 
                          a.header__link(href="#") 
                            |#{item.text}
                  .header__buttons 
                    a.header__buttons-item(href="#" data-fancy-button='search')
                      .header__buttons-bg
                      .header__buttons-container
                        +search-svg.header__search
                    a.header__buttons-item.header__cart(href="#")
                      .header__buttons-bg
                      .header__buttons-container
                        +basket-svg.header__cart-svg
                      .header__cart-count
                        |0
        .header__mobile 
          .header__row 
            .header__col
              .header__logo 
                a.header__logo-link(href="#") 
                  +logo-svg.header__logo-svg
            .header__col
              .header__buttons 
                a.header__buttons-item(href="#" data-fancy-button='call')
                  +call-svg.header__search
                a.header__buttons-item(href="#" data-fancy-button='search')
                  +search-svg.header__search
                a.header__buttons-item.header__cart(href="#")
                  +basket-svg.header__cart-svg
                  .header__cart-count
                    |0
                .header__menu 
                  .header__burger
                    span.header__burger-span
                    span.header__burger-span
                    span.header__burger-span
    .header__panel
      .container 
        .header__panel-overlay
        .header__cards(data-header-modal='cards')
          .header__cards-grid
            each item in ['aqua', 'blockfire', 'pert', '']
              .catalog-card(class=item)
                .catalog-card__container 
                  .catalog-card__title 
                    |SLT AQUA
                  .catalog-card__caption 
                    |Полипропиленовые трубопроводные системы #[br] для водоснабжения и отопления
                  ul.catalog-card__list
                    each item in ['Трубы', 'Фитинги', 'Фитинги комбинированные', 'Компенсаторы', 'Крепления', 'Запорная арматура', ]
                      li.catalog-card__item(data-header-category='')
                        a.catalog-card__link(href="#") 
                          |#{item}
                  .catalog-card__images 
                    - for (j = 1; j < 7; j++)
                      img.catalog-card__img(src=`assets/images/catalog-card-${j}.webp`, alt="" data-category-img='')
        .header__panel-spoiler(data-header-modal='0')
          .header__panel-inner 
            ul.header__panel-list
              each item in ['СЛТ Аква', 'Производство', 'Работа у нас',]
                li.header__panel-item 
                  a.header__panel-link(href="#")
                    |#{item}
        .header__panel-spoiler(data-header-modal='2')
          .header__panel-inner 
            ul.header__panel-list
              each item in ['Разрешительная документация', 'Программы для проектировщиков', 'Информационные материалы',]
                li.header__panel-item 
                  a.header__panel-link(href="#")
                    |#{item}
        .header__panel-spoiler(data-header-modal='3')
          .header__panel-inner 
            ul.header__panel-list
              each item in ['Условия сотрудничества', 'Рекламная поддержка',]
                li.header__panel-item 
                  a.header__panel-link(href="#")
                    |#{item}
    .mobile-menu
      .mobile-menu__wrapper
        ul.mobile-menu__list
          li.mobile-menu__item.active(data-modal-btn='0')
            .mobile-menu__item-text 
              |Каталог
            .mobile-menu__icon 
              +arrow-svg.mobile-menu__svg
          each item in ['О компании', 'Техническая информация', 'Сотрудничество', 'Сервисы расчета',]
            li.mobile-menu__item(data-modal-btn='1')
              .mobile-menu__item-text 
                |#{item}
              .mobile-menu__icon 
                +arrow-svg.mobile-menu__svg
        .container 
          .mobile-menu__container
            ul.mobile-menu__nav 
              li.mobile-menu__nav-item 
                a.header__feedback-link(href="#")
                  .header__feedback-icon 
                    +geo-svg.header__feedback-svg
                  .header__text 
                    |Где купить
              each item in ['Объекты', 'События', 'Контакты']
                li.mobile-menu__nav-item 
                  a.mobile-menu__nav-link(href="#") 
                    |#{item}
            .mobile-menu__inner 
              a.header__phone(href="tel:" + data.phone) 
                |#{data.phone}
              .button.button--sm(data-fancy-button='call')
                |Обратный звонок
            .mobile-menu__bot 
              .mobile-menu__label 
                |Написать нам
              ul.mobile-menu__nav 
                li.mobile-menu__nav-item 
                  a.mobile-menu__link(href="#") 
                    .mobile-menu__link-icon 
                      +tg-svg.mobile-menu__link-svg
                    .mobile-menu__link-text
                      |Telegram
                li.mobile-menu__nav-item 
                  a.mobile-menu__link(href="#") 
                    .mobile-menu__link-icon 
                      +viber-svg.mobile-menu__link-svg
                    .mobile-menu__link-text
                      |Viber
                li.mobile-menu__nav-item 
                  a.mobile-menu__link(href="#") 
                    .mobile-menu__link-icon 
                      +whatsapp-svg.mobile-menu__link-svg
                    .mobile-menu__link-text
                      |WhatsApp
        .mobile-menu__modals 
          .mobile-menu__modal(data-modal-menu='0')
            .container
              .mobile-menu__modal-back(data-modal-close='0')
                .mobile-menu__modal-icon
                  +arrow-svg.mobile-menu__modal-svg 
                .mobile-menu__modal-text 
                  |Каталог
            ul.mobile-menu__modal-wrapper
              -
                var ddata = [
                  {title: 'SLT AQUA', caption: 'Полипропиленовые трубопроводные системы для водоснабжения и отопления'},
                  {title: 'SLT BLOCKFIRE', caption: 'Полипропиленовые трубопроводные системы для пожаротушения'},
                  {title: 'SLT PE-RT', caption: 'Гибкие трубопроводные системы из термостойкого полиэтилена для водоснабжения и отопления'},
                  {title: 'Инструменты', caption: 'Для монтажа полимерных трубопроводных систем'},
                ]
              each item in ddata
                li.mobile-menu__item(data-modal-btn='q0')
                  .mobile-menu__item-content
                    .mobile-menu__title
                      |#{item.title}
                    .mobile-menu__caption 
                      |#{item.caption}
                  .mobile-menu__icon 
                    +arrow-svg.mobile-menu__svg
            .mobile-menu__modal(data-modal-menu='q0')
              .container
                .mobile-menu__modal-back(data-modal-close='q0')
                  .mobile-menu__modal-icon
                    +arrow-svg.mobile-menu__modal-svg 
                  .mobile-menu__modal-text 
                    |Меню
                ul.mobile-menu__modal-list
                  each item in ['Трубы', 'Фитинги', 'Фитинги комбинированные', 'Компенсаторы', 'Крепления', 'Запорная арматура']
                    li.mobile-menu__modal-item 
                      a.mobile-menu__nav-link(href="#") 
                        |#{item}
          .mobile-menu__modal(data-modal-menu='1')
            .container
              .mobile-menu__modal-back(data-modal-close='1')
                .mobile-menu__modal-icon
                  +arrow-svg.mobile-menu__modal-svg 
                .mobile-menu__modal-text 
                  |Меню
              ul.mobile-menu__modal-list
                each item in ['Трубы', 'Фитинги', 'Фитинги комбинированные', 'Компенсаторы', 'Крепления', 'Запорная арматура']
                  li.mobile-menu__modal-item 
                    a.mobile-menu__nav-link(href="#") 
                      |#{item}