include ./form-components
include ./slider-buttons

mixin vacancies-modal
  -
    var ddata = [
      {type: "text", placeholder: "Имя*",},
      {type: "email", placeholder: "E-mail*",},
    ]
  .modal.vacancies-modal(data-fancy-modal='work1')
    .modal__container 
      h4.vacancies-modal__title
        |Отклик на вакансию #[br] SMM-менеджер
      form.form(action="/" data-parsley-validate data-form='2') 
        each item in ddata
          .form__item 
            +input#input(type = item.type placeholder = item.placeholder required)
        .form__item 
          +input#input(type="tel" placeholder="Телефон*" data-tel-input required)
        .form__item 
          +textarea#input(placeholder="Текст сопроводительного письма")
        .form__inner 
          +input-file 
        .form__inner 
          +checkbox(id="checkbox" required="")
        .form__inner 
          +form-button
            |Отправить

mixin contacts-modal1
  .modal.contacts-modal(data-fancy-modal='contacts1')
    .modal__container
      h4.contacts-modal__ttl
        |Схема проезда
      .contacts-modal__subttl Завод и центральный склад
      .contacts-modal__block
        .contacts-modal__map
          img(src="assets/images/contact-map1.jpeg", alt="")
        .contacts-modal__bottom
          .contacts-modal__logo-box
            +logo-svg
            p производство полимерных #[br] трубопроводных систем

          .contacts-modal__info

            .contacts-modal__info-col
              .contacts-modal__info-ttl Заказ пропуска:
              .contacts-modal__info-item Мочалова Марина
              a.contacts-modal__info-item(href="tel:+79179687750") +7 917 968 77 50
              a.contacts-modal__info-item(href="mailto:mochalova@slt-aqua.ru") mochalova@slt-aqua.ru

            .contacts-modal__info-col
              .contacts-modal__info-ttl Склад:
              .contacts-modal__info-item Ковшов Никита
              a.contacts-modal__info-item(href="tel:+79278932960") +7 927 893 29 60
              a.contacts-modal__info-item(href="mailto:kovshov@slt-aqua.ru") kovshov@slt-aqua.ru


mixin contacts-modal2
  .modal.contacts-modal(data-fancy-modal='contacts2')
    .modal__container
      h4.contacts-modal__ttl
        |Схема проезда
      .contacts-modal__subttl Склад
      .contacts-modal__block
        .contacts-modal__map
          img(src="assets/images/contact-map1.jpeg", alt="")
        .contacts-modal__bottom
          .contacts-modal__logo-box
            +logo-svg
            p производство полимерных #[br] трубопроводных систем

          .contacts-modal__info

            .contacts-modal__info-col
              .contacts-modal__info-ttl Заказ пропуска:
              .contacts-modal__info-item Мочалова Марина
              a.contacts-modal__info-item(href="tel:+79179687750") +7 917 968 77 50
              a.contacts-modal__info-item(href="mailto:mochalova@slt-aqua.ru") mochalova@slt-aqua.ru

            .contacts-modal__info-col
              .contacts-modal__info-ttl Склад:
              .contacts-modal__info-item Ковшов Никита
              a.contacts-modal__info-item(href="tel:+79278932960") +7 927 893 29 60
              a.contacts-modal__info-item(href="mailto:kovshov@slt-aqua.ru") kovshov@slt-aqua.ru

mixin catalog-modal 
  .catalog-modal(data-fancy-modal='c1')
    .catalog-modal__container 
      h4.catalog-modal__title
        |Область применения
      .catalog-modal__row 
        .catalog-modal__col
          h5.catalog-modal__heading 
            |Трубы
          ul.catalog-modal__list
            -
              var ddata = [
                {text: 'Холодное водоснабжение', url: '3'},
                {text: 'Горячее водоснабжение', url: '4'},
                {text: 'Питьевая вода', url: '2'},
                {text: 'Отопление', url: '5'},
              ]
            each item in ddata
              li.catalog-modal__item 
                label.catalog-modal__button(data-catalog-item='') 
                  .catalog-modal__content 
                    .catalog-modal__img
                      .use-icon
                        img(src=`assets/images/svg/catalog-item-${item.url}.svg`, alt="")
                    .catalog-modal__text(data-item-text='')
                      |#{item.text}
                  input.catalog-modal__input(type="checkbox" data-item-checkbox='')
                  .catalog-modal__box 
                    +check-svg.catalog-modal__svg
        .catalog-modal__col
          h5.catalog-modal__heading 
            |Фитинги
          ul.catalog-modal__list 
            -
              var ddata = [
                {text: 'Холодоснабжение', url: '6'},
                {text: 'Переход на разные диаметры', url: '7'},
                {text: 'Направление потока', url: '8'},
                {text: 'Распределение потоков', url: '9'},
                {text: 'Обход пересечения труб', url: '10'},
                {text: 'Соединение с другими видами труб, запорной арматурой', url: '11'},
                {text: 'Временное перекрытие системы', url: '12'},
                {text: 'Перекрытие системы', url: '13'},
                {text: 'Разъемное соединение с другими видами труб, запорной арматуры', url: '14'},
                {text: 'Крепление', url: '15'},
                {text: 'Очистка потока', url: '16'},
                {text: 'Соединение с запорной арматурой, сантехническим оборудованием', url: '17'},
                {text: 'Компенсация линейного расширения', url: '18'},
                {text: 'Регулировка', url: '19'},
              ]
            each item in ddata
              li.catalog-modal__item 
                label.catalog-modal__button(data-catalog-item='') 
                  .catalog-modal__content 
                    .catalog-modal__img
                      .use-icon
                        img(src=`assets/images/svg/catalog-item-${item.url}.svg`, alt="")
                    .catalog-modal__text(data-item-text='')
                      |#{item.text}
                  input.catalog-modal__input(type="checkbox" data-item-checkbox='')
                  .catalog-modal__box 
                    +check-svg.catalog-modal__svg
            //- li.catalog-modal__item 
            //-   label.catalog-modal__button(data-catalog-item='') 
            //-     .catalog-modal__content 
            //-       .catalog-modal__img
            //-         .use-icon
            //-           +connect-svg.use-icon__svg.catalog-modal__icon
            //-       .catalog-modal__text(data-item-text='')
            //-         |Переход на разные диаметры
            //-     input.catalog-modal__input(type="checkbox" data-item-checkbox='')
            //-     .catalog-modal__box 
            //-       +check-svg.catalog-modal__svg
            //- li.catalog-modal__item 
            //-   label.catalog-modal__button(data-catalog-item='') 
            //-     .catalog-modal__content 
            //-       .catalog-modal__img
            //-         .use-icon
            //-           +fire-svg.use-icon__svg.catalog-modal__icon
            //-       .catalog-modal__text(data-item-text='')
            //-         |Направление потока
            //-     input.catalog-modal__input(type="checkbox" data-item-checkbox='')
            //-     .catalog-modal__box 
            //-       +check-svg.catalog-modal__svg
            //- li.catalog-modal__item 
            //-   label.catalog-modal__button(data-catalog-item='') 
            //-     .catalog-modal__content 
            //-       .catalog-modal__img
            //-         .use-icon
            //-           +water-svg.use-icon__svg.catalog-modal__icon
            //-       .catalog-modal__text(data-item-text='')
            //-         |Распределение потоков
            //-     input.catalog-modal__input(type="checkbox" data-item-checkbox='')
            //-     .catalog-modal__box 
            //-       +check-svg.catalog-modal__svg
            //- each item in ['Обход пересечения труб', 'Соединение с другими видами труб, запорной арматурой', 'Временное перекрытие системы', 'Перекрытие системы', ]
            //-   li.catalog-modal__item 
            //-     label.catalog-modal__button(data-catalog-item='') 
            //-       .catalog-modal__content 
            //-         .catalog-modal__img
            //-           .use-icon
            //-         .catalog-modal__text(data-item-text='')
            //-           |#{item}
            //-       input.catalog-modal__input(type="checkbox" data-item-checkbox='')
            //-       .catalog-modal__box 
            //-         +check-svg.catalog-modal__svg
    .catalog-modal__panel.hidden
      h5.catalog-modal__panel-title 
        |Подходит позиций: 0
      .catalog-modal__panel-button 
        +link-right.button--wide(data-catalog-show='')
          |Показать

mixin objects-menu 
  .objects-menu.mobile-menu(data-objects-menu='')
    .mobile-menu__wrapper
      .objects-menu__container
        ul.mobile-menu__list
          li.mobile-menu__item(data-menu-close='')
            .mobile-menu__modal-back
              .mobile-menu__modal-icon
                +arrow-svg.mobile-menu__modal-svg 
              .mobile-menu__modal-text 
                |Меню
          each item in ['Местоположение', 'Категория продукции', 'Тип объекта',]
            li.mobile-menu__item(data-modal-btn='ob1')
              .mobile-menu__item-text 
                |#{item}
              .mobile-menu__icon 
                +arrow-svg.mobile-menu__svg
        .mobile-menu__modal(data-modal-menu='ob1')
          .container
            .mobile-menu__modal-back(data-modal-close='ob1')
              .mobile-menu__modal-icon
                +arrow-svg.mobile-menu__modal-svg 
              .mobile-menu__modal-text 
                |Местоположение
            ul.objects-menu__list
              each item in ['Санкт-Петербург', 'Москва', 'Нижний Новгород', 'Химки', 'Краснодар',]
                li.objects-menu__item(data-objects-item='')
                  .checkbox 
                    label.checkbox__label
                      input.checkbox__input(type="checkbox" data-item-checkbox='')
                      .checkbox__box 
                        +check-svg.checkbox__svg
                      .checkbox__caption(data-item-text='')
                        |#{item}
        .objects-menu__bot(data-menu-panel='')
          .objects-menu__row 
            .objects-menu__col
              .button.button--wide(data-menu-clear='')
                |Сбросить
            .objects-menu__col
              +link-right.button--wide.button--blue(data-menu-accept='')
                |Применить

mixin call-modal 
  .call-modal(data-fancy-modal='call')
    .call-modal__container 
      h4.call-modal__title 
        |Обратный звонок
      form.form(action="/" data-parsley-validate) 
        .form__item 
          +input#input(type="text" placeholder="Имя*" required)
        .form__item 
          +input#input(type="number" placeholder="Телефон*" required)
        .form__inner 
          +checkbox(required)
        .form__inner 
          +form-button 
            |Отправить
          
mixin response-modal 
  .response(data-fancy-modal='response' data-response=attributes.id)
    .response__container 
      .response__icon 
        +response-svg.response__svg 
      h5.response__title 
        |Отправлено
      .response__text
        |#{attributes.text}
      .response__button 
        .button(data-fancybox-close='')
          |Закрыть

mixin search-modal 
  .search-modal(data-fancy-modal='search')
    .search-modal__container 
      form.search-modal__form(action="/") 
        .search-modal__col
          input.search-modal__input(type="text" placeholder='Что вы хотите найти?')
          .search-modal__icon 
            +close-svg.search-modal__svg
        .search-modal__col
          button.button.button--wide--mobile.button-animate
            span.button__text
              span
                |Поиск
            .button__icon
              +btn-arrow-right.button__svg.arrow-blue

mixin map-modal
  -
    var ddata = {
      top: [
        {
          label: 'Адрес',
          items: [
            {isLink: false, text: 'пр.Ветеранов 109 к4, ТЦ Стройдвор цокольный этаж'},
          ]
        },
        {
          label: 'Телефон',
          items: [
            {isLink: true, text: '+7 (812) 244-01-44 (доб. 510)', href: 'tel:+78122440144'},
            {isLink: true, text: '+7 (812) 244-01-44 (доб. 510)', href: 'tel:+78122440144'},
            {isLink: true, text: '+7 (812) 244-01-44 (доб. 510)', href: 'tel:+78122440144'},
          ]
        },
        {
          label: 'E-mail',
          items: [
            {isLink: true, text: 'mag@teksneva.ru', href: 'mailto:mag@teksneva.ru'},
          ]
        },
        {
          label: 'Время работы',
          items: [
            {isLink: false, text: 'ПН – ПТ, 10 - 20',},
            {isLink: false, text: 'СБ – ВС, 11 - 19',},
          ]
        },
      ],
      bot: [
        {
          text: 'ЖК Апарт-отель YE’S',
          src: 'accordion-1.webp'
        },
        {
          text: 'ЖК Среда',
          src: 'accordion-2.webp'
        },
        {
          text: 'ЖК Три Кита',
          src: 'accordion-3.webp'
        },
        {
          text: 'Ресторан Макдональдс',
          src: 'accordion-4.webp'
        },
        {
          text: 'НИИ Радиосвязь',
          src: 'accordion-5.webp'
        },
      ]
    }
  .map-modal(data-fancy-modal="map" data-map-modal=attributes.id)
    .map-modal__inner
      .map-modal__top
        .map-modal__container 
          h5.map-modal__title 
            |ООО «Текс-Нева»
          a.map-modal__site(href="#")
            |teksneva.ru
          .map-modal__offset
            .map-modal__location
              .map-modal__icon 
                +geo-svg.map-modal__svg 
              .map-modal__caption
                |Санкт-Петербург
          .map-modal__breadcrumbs 
            .breadcrumbs.breadcrumbs--small 
              ul.breadcrumbs__list 
                each item in ['Интернет-магазин', 'В продаже SLT BLOCKFIRE', 'Самовывоз со склада', 'Услуги монтажа']
                  li.breadcrumbs__item 
                    .breadcrumbs__link
                      |#{item}
          .map-modal__wrapper
            .map-modal__row
              .map-modal__col 
                .map-modal__label 
                  |Адрес
                ul.map-modal__list 
                  li.map-modal__item 
                    .map-modal__text
                      |пр.Ветеранов 109 к4, ТЦ Стройдвор цокольный этаж
              .map-modal__col 
                .map-modal__label 
                  |E-mail
                ul.map-modal__list 
                  li.map-modal__item 
                    a.map-modal__text.map-modal__link(href="mailto:mag@teksneva.ru") 
                      |mag@teksneva.ru
            .map-modal__row
              .map-modal__col 
                .map-modal__label 
                  |Телефон
                ul.map-modal__list 
                  - for (i = 0; i < 3; i++)
                    li.map-modal__item 
                      a.map-modal__text.map-modal__link(href="tel:+78122440144") 
                        |+7 (812) 244-01-44 (доб. 510)
              .map-modal__col 
                .map-modal__label 
                  |Время работы
                ul.map-modal__list 
                  li.map-modal__item 
                    .map-modal__text
                      |ПН – ПТ, 10 - 20
                  li.map-modal__item 
                    .map-modal__text
                      |СБ – ВС, 11 - 19
      .map-modal__bot 
        .map-modal__container
          .map-modal__heading
            |Реализованные объекты
          .map-modal__slider.map-modal__offset
            .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='1' data-slider-prev='11' data-slider-next='12')
                .swiper-wrapper 
                  each item in ddata.bot
                    .swiper-slide 
                      a.map-modal__slider-slide(href="#")
                        .map-modal__slider-img 
                          img(src=`assets/images/${item.src}`, alt="")
                        .map-modal__slider-title 
                          |#{item.text}
          .map-modal__controls.map-modal__offset 
            +slider-buttons.slider-buttons--default(prev = '11' next = '12')
          
mixin video-modal 
  .video-modal(data-fancy-modal=attributes.id)
    .video-modal__container
      iframe.video-modal__iframe(src="https://www.youtube.com/embed/W85oD8FEF78" frameborder="0") 

